.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .header__body {
        padding: 24px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-logo {
            width: 214px;
            height: 48px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-tabs {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 3px 4px;
            background: #303038;
            border-radius: 16px;

            a {
                padding: 10px 24px;
                background: transparent;
                border-radius: 12px;
                transition: all 0.3s ease;
                font-weight: 550;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.5%;
                text-align: center;
                color: #FFFFFF;
            }

            a.active {
                background: #FFFFFF;
                color: #14141A;
            }

            a:hover {
                background: #FFFFFF;
                color: #14141A;
            }
        }

        &-action {
            display: flex;
            width: 214px;
            align-items: center;
            justify-content: flex-end;
            gap: 32px;

            &-sign {
                padding: 13px 24px;
                border-radius: 16px;
                background: linear-gradient(180deg, #795EFF -54.17%, #4224DE 89.58%);
                box-shadow: 0px 2px 4px 0px #FFFFFFAD inset;
                box-shadow: 0px -2px 6px 0px #0E0056E3 inset;
                box-shadow: 2px 7px 18px 0px #14007866;
                font-weight: 550;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.5%;
                text-align: center;
                color: #FFFFFF;
            }

            .burger {
                width: 48px;
                height: 48px;
                background: #FFFFFF;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3px;
                cursor: pointer;

                .circle {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #14141A;
                }
            }
        }
    }
}

.modal {
    width: 100%;
    height: 100vh;
    background: #14141ACC;
    backdrop-filter: blur(56px);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .modal_wrap.active {
        transform: translateX(0%);
    }

    .modal_wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 24px;
        width: 100%;
        transition: all 0.5s ease;
        transform: translateX(50%);
    }

    .modal-close {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 31.25%, #FFFFFF 100%);
        border: 1px solid var(--Transparency-White, #FFFFFFC2);
        border-radius: 16px;

        svg {
            width: 32px;
            height: 32px;
        }

        margin-top: 24px;
    }

    &__body {
        width: 480px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        align-items: center;
        background: #14141A;
        padding: 40px 32px;

        &-top {
            display: flex;
            flex-direction: column;
            gap: 42px;
            width: 100%;

            &-auth {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &-tabs {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    padding: 3px 4px;
                    background: #303038;
                    border-radius: 16px;

                    a {
                        padding: 10px 24px;
                        background: transparent;
                        border-radius: 12px;
                        transition: all 0.3s ease;
                        font-weight: 550;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.5%;
                        text-align: center;
                        color: #FFFFFF;
                    }

                    a.active {
                        background: #FFFFFF;
                        color: #14141A;
                    }

                    a:hover {
                        background: #FFFFFF;
                        color: #14141A;
                    }
                }

                &-sign {
                    padding: 13px 24px;
                    border-radius: 16px;
                    background: linear-gradient(180deg, #795EFF -54.17%, #4224DE 89.58%);
                    box-shadow: 0px 2px 4px 0px #FFFFFFAD inset;
                    box-shadow: 0px -2px 6px 0px #0E0056E3 inset;
                    box-shadow: 2px 7px 18px 0px #14007866;
                    font-weight: 550;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.5%;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            &-menu {
                width: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    li {
                        font-weight: 550;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: 0%;
                        color: #fff;
                    }

                    li:not(:last-child) {
                        padding-bottom: 16px;
                        border-bottom: 1px solid #656571;
                    }
                }
            }
        }

        .arrow {
            position: absolute;
            width: 193px;
            height: 187px;
            bottom: 113px;
            right: 67.4px;
        }

        img {
            width: 222px;
            height: 230px;
            position: absolute;
            bottom: 150.75px;
            right: 164px;
        }

        &-try {
            padding: 24px 36px;
            background: var(--Transparent-White-10, #FFFFFF1A);
            font-weight: 550;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0%;
            color: #FFFFFF;
            border-radius: 64px;
            max-width: max-content;
        }
    }
}

.auth {
    width: 100%;
    height: 100vh;
    background: #14141ACC;
    backdrop-filter: blur(56px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;
    .auth__body.active{
        opacity: 1;
    }
    .auth__body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: all 0.5s ease;
        height: 100vh;
        opacity: 0;
        &-good.active{
            opacity: 1;
        }
        &-good{
            position: relative;
            padding: 40px 64px 40px 64px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #25252B;
            box-shadow: 0px -6px 56px 0px #14141A80;
            border-radius: 24px;
            position: absolute;
            width: 620px;
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 5;
            .auth-close {
                width: 32px;
                height: 32px;
                position: absolute;
                background: transparent;
                top: 24px;
                right: 24px;

                svg {
                    width: 32px;
                    height: 32px;
                }
            }
            img{
                width: 416px;
                height: 208px;
            }
            .text{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                h3{
                    font-weight: 550;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #fff;
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 1%;
                    text-align: center;
                    color: #9999AA;
                }
            }
            .good-btn{
                padding: 19px 24px;
                font-weight: 550;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.5%;
                text-align: center;
                color: #fff;
                background: var(--Grayscale-700, #303038);
                backdrop-filter: blur(24px);
                border-radius: 16px;
                margin-top: 40px;
            }
        }
        &-main.good{
            opacity: 0;
        }
        &-main.index{
            z-index: 2;
        }
        &-main {
            position: relative;
            padding: 40px 80px 56px 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #25252B;
            gap: 16px;
            box-shadow: 0px -6px 56px 0px #14141A80;
            border-radius: 24px;
            transition: all 0.5s ease;
            z-index: 10;
            .auth-close {
                width: 32px;
                height: 32px;
                position: absolute;
                background: transparent;
                top: 24px;
                right: 24px;

                svg {
                    width: 32px;
                    height: 32px;
                }
            }

            h3 {
                font-weight: 550;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 1%;
                color: #fff;
            }

            &-form {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .inputs {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    max-width: max-content;

                    &__input {
                        width: 224px;
                        height: 60px;
                        position: relative;
                        background: #303038;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        padding-top: 26px;
                        padding-bottom: 10px;
                        input {
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 1%;
                            text-align: start;
                            color: #DCDCF2;
                            padding-left: 16px;
                        }
                        span.error{
                            color: rgb(218, 58, 58);
                        }
                        span {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 1%;
                            color: #9999AA;
                            position: absolute;
                            left: 16px;
                            transition: all 0.3s ease;
                            top: 18px;
                        }

                        span.active {
                            top: 10px;
                            font-size: 12px;
                            line-height: 16px;
                            color: #7F7F8D;
                        }
                    }
                }
                .checkbox{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    margin-top: 12px;
                }
                .checkbox input {
                    position: absolute;
                    opacity: 0;
                    —Åursor: pointer;
                }
                .checkbox label {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 36px;
                    cursor: pointer;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 1%;
                    text-align: center;
                    color: #fff;
                    user-select: none;
                }
                .checkbox span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 24px;
                    width: 24px;
                    background-color: #4B4B55;
                    border: 1px solid #656571;
                    border-radius: 50%;
                }
                .checkbox span:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                .checkbox label input:checked~span:after {
                    display: block;
                }
                .checkbox label span:after {
                    top: 3px;
                    left: 3px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: white;
                }
                button{
                    width: 460px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(180deg, #795EFF -54.17%, #4224DE 89.58%);
                    box-shadow: 0px 2px 4px 0px #FFFFFFAD inset;
                    box-shadow: 0px -2px 6px 0px #0E0056E3 inset;
                    box-shadow: 2px 7px 18px 0px #14007866;
                    border-radius: 16px;
                    font-weight: 550;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.5%;
                    text-align: center;
                    color: #fff;
                    margin-top: 12px;
                }
                p{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0%;
                    color: #9999AA;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}