@import './reset';
body{
    max-width: 1440px;
    background: #14141A;
    font-family: "Golos Text", sans-serif;
    margin: 0 auto;
}
.element-animation{
    opacity: 0;
    transform: translateY(-20px);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}